/assetTest/Temp/
/assetTest/Library/
/assetTest/Logs/
/assetTest/UserSettings/
/assetTest/ProjectSettings/
/assetTest/Assembly-CSharp.csproj

assetTest/Temp/
assetTest/Library/
assetTest/Logs/
assetTest/UserSettings/
assetTest/ProjectSettings/
assetTest/Assembly-CSharp.csproj
